* {

	/* box-sizing: border-box; */
}

body {
	overflow: auto;
}

/* header开始 */
header {
	position: relative;
	padding-left: 58px;
	padding-top: 34px;
	width: 1260px;
	height: 100px;
	margin: 0 auto;	/* border: 1px solid red; */
}

header .logo {
	position: absolute;
	display: inline-block;
	width: 258px;
	height: 59px;
}

.menu {
	position: absolute;
	left: 323px;
	display: inline-block;
	height: 59px;
	margin-left: 15px;
}

.menu li {
	float: left;
	position: relative;
	text-align: center;
	width: 80px;
	height: 59px;
	border-radius: 25px;
	overflow: hidden;
	margin-right: 28px;
	line-height: 59px;
	font-size: 14px;
}

.menu li a {
	margin-top: 59px;
	color: #666666;
	font-weight: bold;
}

.menu li div {
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #aeeeee;
	z-index: -1;
}

.topRight {
	position: relative;
	float: right;
	margin-right: 80px;
	margin-top: 18px;	/* margin-right: -60px; */
}

.topRight input[type ="text"] {
	position: absolute;
	width: 0px;
	height: 20px;
	left: -220px;	/* z-index: -1; */
	display: none;
}

.topRight  li {
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 23px;
	cursor: pointer;
}

.topRight .search {
	width: 100%;
	height: 100%;
	background: url(../images/icons/search.png);
	background-size: 100% 100%;
	border: none;
	outline: none;
	cursor: pointer;
}

.topRight  li:nth-child(2) {
	background: url(../images/icons/cart.png);
	background-size: 100% 100%;
	margin-right: 0;
}

.topRight a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/* header结束 */

/* container开始 */
.container {
	width: 100%;
	position: relative;
}

.banner {
	width: 100%;
	height: 80px;
	overflow: hidden;
}

.banner img {
	width: 100%;
	height: auto;
	z-index: -1;
}

.banner div {
	position: absolute;
	width: 122px;
	height: 48px;
	left: 50%;
	top: 8px;
	margin-left: -61px;
	border-bottom: 1px solid #fff;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 48px;
	z-index: 2;
}

.wrapBanner {
	position: absolute;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, .6);
}

.login_form_bg {
	height: 480px;
	background: url(../images/slider/1.jpg) no-repeat;
	background-size: 980px 480px;
	background-color: #dbf8e6;
}

.no-mp {
	margin-top: 0px;
}

.login_form_wrap {
	width: 960px;
	height: 480px;
	margin: 0 auto;
}

.login_banner {
	width: 381px;
	height: 322px;
	margin-top: 90px;
}

.login_form {
	width: 368px;
	height: 378px;
	border: 1px solid #c6c6c5;
	background-color: #fff;
	margin-top: 50px;
}

.login_title {
	height: 60px;
	width: 308px;
	margin: 10px auto;
	border-bottom: 1px solid #e0e0e0;
}

.login_title h1 {
	font-size: 24px;
	height: 60px;
	line-height: 60px;
	color: #a8a8a8;
	float: left;
	font-weight: bold;
	margin-left: 44px;
}

.login_title a {
	width: 100px;
	height: 20px;
	display: block;
	font-size: 16px;
	color: #5fb42a;
	text-indent: 26px;
	background: url(../images/icons02.png) left 5px no-repeat;
	float: left;
	margin: 20px 0 0 36px
}

.form_input {
	width: 308px;
	height: 250px;
	margin: 20px auto;
	position: relative;
}

.name_input, .pass_input {
	width: 306px;
	height: 36px;
	border: 1px solid #e0e0e0;
	background: url(../images/icons02.png) 280px -41px no-repeat #f8f8f8;
	outline: none;
	font-size: 14px;
	text-indent: 10px;
	position: absolute;
	left: 0;
	top: 0
}

.pass_input {
	top: 65px;
	background-position: 280px -95px;
}

.user_error, .pwd_error {
	color: #f00;
	position: absolute;
	left: 0;
	top: 43px;
	display: none
}

.pwd_error {
	top: 110px;
}

.more_input {
	position: absolute;
	left: 0;
	top: 130px;
	width: 100%
}

.more_input input {
	float: left;
	margin-top: 2px;
}

.more_input label {
	float: left;
	margin-left: 10px;
}

.more_input a {
	float: right;
	color: #666
}

.more_input a:hover {
	color: #ff8800
}

.input_submit {
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0;
	top: 180px;
	background-color: #47aa34;
	color: #fff;
	font-size: 22px;
	border: 0px;
	font-family: 'Microsoft Yahei';
	cursor: pointer;
}

/* container结束 */

/* footer开始 */
.footer {
	height: 160px;
	position: relative;
	border-top: 2px solid #42ad46;
}

.foot_link {
	text-align: center;
	margin-top: 30px;
}

.foot_link a, .foot_link span {
	color: #4e4e4e;
}

.foot_link a:hover {
	color: #ff8800
}

.foot_link span {
	padding: 0 10px
}

.footer p {
	text-align: center;
	margin-top: 10px;
}

/* footer结束 */
