* {

	/* box-sizing: border-box; */
}

body {
	overflow: auto;
}

/* header开始 */
header {
	position: relative;
	padding-left: 58px;
	padding-top: 34px;
	width: 1260px;
	height: 100px;
	margin: 0 auto;	/* border: 1px solid red; */
}

header .logo {
	position: absolute;
	display: inline-block;
	width: 258px;
	height: 59px;
}

.menu {
	position: absolute;
	left: 323px;
	display: inline-block;
	height: 59px;
	margin-left: 15px;
}

.menu li {
	float: left;
	position: relative;
	text-align: center;
	width: 80px;
	height: 59px;
	border-radius: 25px;
	overflow: hidden;
	margin-right: 28px;
	line-height: 59px;
	font-size: 14px;
}

.menu li a {
	margin-top: 59px;
	color: #666666;
	font-weight: bold;
}

.menu li div {
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #aeeeee;
	z-index: -1;
}

.topRight {
	position: relative;
	float: right;
	margin-right: 80px;
	margin-top: 18px;
	/* border: 1px solid red; */
	/* margin-right: -60px; */
}

.topRight input[type = "text"] {
	position: absolute;
	width: 0px;
	height: 20px;
	left: -220px;
	/* z-index: -1; */
	display: none;
}

.topRight  li {
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 23px;
	cursor: pointer;
}

.topRight  li .search {
	width: 100%;
	height: 100%;
	background: url(../images/icons/search.png);
	background-size: 100% 100%;
	border: none;
	cursor: pointer;
	outline: none;
}

.topRight  li:nth-child(1) {
	background: url(../images/icons/search.png);
	background-size: 100% 100%;
	margin-right: 0;
}

.topRight  li:nth-child(2) {
	background: url(../images/icons/cart.png);
	background-size: 100% 100%;
	margin-right: 0;
	margin-left: 23px;
}

.topRight a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/* header结束 */

/* container开始 */
.container {
	width: 100%;
	position: relative;
}

.banner {
	width: 100%;
	height: 230px;
	overflow: hidden;
}

.banner img {
	width: 100%;
	height: auto;
	z-index: -1;
}

.banner div {
	position: absolute;
	width: 122px;
	height: 48px;
	left: 50%;
	top: 60px;
	margin-left: -61px;
	border-bottom: 1px solid #fff;
	text-align: center;
	color: #fff;
	font-size: 25px;
	line-height: 48px;
	z-index: 2;
}

.wrapBanner {
	position: absolute;
	top: 0;
	width: 100%;
	height: 230px;
	background-color: rgba(0, 0, 0, .6);
}

.common_title {
	width: 1200px;
	margin: 20px auto 0;
	font-size: 14px;
}

.common_list_con {
	width: 1200px;
	border: 1px solid #dddddd;
	border-top: 2px solid #00bc6f;
	margin: 10px auto 0;
	background-color: #f7f7f7;
	position: relative;
}

.common_list_con dl {
	margin: 20px;
}

.common_list_con dt {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px
}

.common_list_con dd input {
	vertical-align: bottom;
	margin-right: 10px
}

.edit_site {
	position: absolute;
	right: 20px;
	top: 30px;
	width: 100px;
	height: 30px;
	background-color: #37ab40;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	color: #fff
}

.pay_style_con {
	margin: 20px;
}

.pay_style_con input {
	float: left;
	margin: 14px 7px 0 0;
}

.pay_style_con label {
	float: left;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 10px 10px 10px 40px;
	margin-right: 25px
}

.pay_style_con .cash {
	background: url(../images/pay_icons.png) 8px top no-repeat #fff;
}

.pay_style_con .weixin {
	background: url(../images/pay_icons.png) 6px -36px no-repeat #fff;
}

.pay_style_con .zhifubao {
	background: url(../images/pay_icons.png) 12px -72px no-repeat #fff;
	width: 50px;
	height: 16px
}

.pay_style_con .bank {
	background: url(../images/pay_icons.png) 6px -108px no-repeat #fff;
}

.goods_list_th {
	height: 40px;
	border-bottom: 1px solid #ccc
}

.goods_list_th li {
	float: left;
	line-height: 40px;
	text-align: center;
}

.goods_list_th .col01 {
	width: 25%
}

.goods_list_th .col02 {
	width: 20%
}

.goods_list_th .col03 {
	width: 25%
}

.goods_list_th .col04 {
	width: 15%
}

.goods_list_th .col05 {
	width: 15%
}

.goods_list_td {
	height: 80px;
	border-bottom: 1px solid #eeeded
}

.goods_list_td li {
	float: left;
	line-height: 80px;
	text-align: center;
}

.goods_list_td .col01 {
	width: 4%
}

.goods_list_td .col02 {
	width: 6%
}

.goods_list_td .col03 {
	width: 15%
}

.goods_list_td .col04 {
	width: 20%
}

.goods_list_td .col05 {
	width: 25%
}

.goods_list_td .col06 {
	width: 15%
}

.goods_list_td .col07 {
	width: 15%
}

.goods_list_td .col02 {
	text-align: right
}

.goods_list_td .col02 img {
	width: 63px;
	height: 63px;
	border: 1px solid #ddd;
	display: block;
	margin: 7px 0;
	float: right;
}

.goods_list_td .col03 {
	text-align: left;
	text-indent: 20px
}

.settle_con {
	margin: 10px
}

.total_goods_count, .transit, .total_pay {
	line-height: 24px;
	text-align: right
}

.total_goods_count em, .total_goods_count b, .transit b, .total_pay b {
	font-size: 14px;
	color: #ff4200;
	padding: 0 5px;
}

.order_submit {
	width: 1200px;
	margin: 20px auto;
}

.order_submit a {
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color:#89ae56 ;
	color: #fff;
	font-size: 16px;
	display: block;
	border-radius: 4px;
	float: right;
	-webkit-transition: all .6s;
	-o-transition: all .6s;
	transition: all .6s;
}

.order_submit a:hover {
	background-color:#47aa34;
}

.order_list_th {
	width: 1198px;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	margin: 20px auto 0;
}

.order_list_th li {
	float: left;
	height: 30px;
	line-height: 30px
}

.order_list_th .col01 {
	width: 20%;
	margin-left: 20px
}

.order_list_th .col02 {
	width: 20%
}

.order_list_table {
	width: 1200px;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid #ddd;
	margin: -1px auto 0;
}

.order_list_table td {
	border: 1px solid #ddd;
	text-align: center;
}

.order_goods_list {
	border-bottom: 1px solid #ddd;
	margin-bottom: -2px;
}

.order_goods_list li {
	float: left;
	height: 80px;
	line-height: 80px;
}

.order_goods_list .col01 {
	width: 20%
}

.order_goods_list .col01 img {
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	margin: 10px auto;
}

.order_goods_list .col02 {
	width: 50%;
	text-align: left;
}

.order_goods_list .col02 em {
	color: #999;
	margin-left: 10px
}

.order_goods_list .col03 {
	width: 10%
}

.order_goods_list .col04 {
	width: 20%
}

.oper_btn {
	display: inline-block;
	border: 1px solid #ddd;
	color: #666;
	padding: 5px 10px
}

.popup_con {
	display: none;
}

.popup {
	width: 300px;
	height: 150px;
	border: 1px solid #dddddd;
	border-top: 2px solid #00bc6f;
	background-color: #f7f7f7;
	position: fixed;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -75px;
	z-index: 1000;
}

.popup p {
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 18px;
}

/* container结束 */

/* footer开始 */
.footer {
	height: 160px;
	position: relative;
	border-top: 2px solid #42ad46;
}

.foot_link {
	text-align: center;
	margin-top: 30px;
}

.foot_link a, .foot_link span {
	color: #4e4e4e;
}

.foot_link a:hover {
	color: #ff8800
}

.foot_link span {
	padding: 0 10px
}

.footer p {
	text-align: center;
	margin-top: 10px;
}

/* footer结束 */
