* {

	/* box-sizing: border-box; */
}

body {
	overflow: auto;
}

/* header开始 */
header {
	position: relative;
	padding-left: 58px;
	padding-top: 34px;
	width: 1260px;
	height: 100px;
	margin: 0 auto;	/* border: 1px solid red; */
}

header .logo {
	position: absolute;
	display: inline-block;
	width: 258px;
	height: 59px;
}

.menu {
	position: absolute;
	left: 323px;
	display: inline-block;
	height: 59px;
	margin-left: 15px;
}

.menu li {
	float: left;
	position: relative;
	text-align: center;
	width: 80px;
	height: 59px;
	border-radius: 25px;
	overflow: hidden;
	margin-right: 28px;
	line-height: 59px;
	font-size: 14px;
}

.menu li a {
	margin-top: 59px;
	color: #666666;
	font-weight: bold;
}

.menu li div {
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #aeeeee;
	z-index: -1;
}

.topRight {
	position: relative;
	float: right;
	margin-right: 80px;
	margin-top: 18px;
	/* margin-right: -60px; */
}

.topRight input[type = "text"] {
	position: absolute;
	width: 0px;
	height: 20px;
	left: -220px;
	/* z-index: -1; */
	display: none;
}

.topRight  li {
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 23px;
	cursor: pointer;
}

.topRight  li:nth-child(1) {
	background: url(../images/icons/search.png);
	background-size: 100% 100%;
}

.topRight  li:nth-child(2) {
	background: url(../images/icons/cart.png);
	background-size: 100% 100%;
	margin-right: 0;
}

.topRight a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/* header结束 */

/* container开始 */
.container {
	width: 100%;
	position: relative;
}

.banner {
	width: 100%;
	height: 230px;
	overflow: hidden;
}

.banner img {
	width: 100%;
	height: auto;
	z-index: -1;
}

.banner div {
	position: absolute;
	width: 122px;
	height: 48px;
	left: 50%;
	top: 60px;
	margin-left: -61px;
	border-bottom: 1px solid #fff;
	text-align: center;
	color: #fff;
	font-size: 25px;
	line-height: 48px;
	z-index: 2;
}

.wrapBanner {
	position: absolute;
	top: 0;
	width: 100%;
	height: 230px;
	background-color: rgba(0, 0, 0, .6);
}

.thumbnail {
	margin: 0 auto;
	width: 1260px;
	height: 405px;
	border-bottom: 1px solid #ccc;
	/* display: flex; */
}

.thumbnail div {
	display: inline-block;
	position: relative;
	margin: 40px auto;
	width: 400px;
	height: 495px;
	padding-left: 15px;
	/* display: flex; */
	/* flex-grow: 0; */
}

.thumbnail div .innerImg {
	display: block;
	width: 226px;
	height: 226px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.thumbnail div .innerImg:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.thum1 {
	background: url(../images/category-product/1.jpg);
	background-size: 100% 100%;
}

.thum2 {
	background: url(../images/category-product/2.jpg);
	background-size: 100% 100%;
}

.thum3 {
	background: url(../images/category-product/3.jpg);
	background-size: 100% 100%;
}

.thumbnail div  p {
	position: absolute;
	bottom: 180px;
	left: 200px;
	font-size: 17px;
}


.titleWraper {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ccc;
}

.options {
	margin: 0 auto;
	width: 1260px;
	height: 100px;
}

.options h2 {
	margin-right: 10px;
	font-size: 14px;
	line-height: 100px;
	float: left;
	letter-spacing: 2px;
	display: inline-block;
	cursor: pointer;
}

.options h2 .curCato {
	color: #FFA623FF;
}

.options .sort {
	float: right;
}

.options .sort a {
	display: inline-block;
	width: 80px;
	height: 100px;
	line-height: 100px;
	font-size: 13px;
	color: #333;
	text-align: center;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}

.options .sort a.cur {
	color: #54CF2FFF;
}

.options .sort a:hover {
	color: #54CF2FFF;
}

.goodlist {
	margin: 90px auto;
	width: 1260px;
}

.goodlist .goods {
	position: relative;
	width: 290px;
	height: 420px;
	margin-left: 12px;
	margin-right: 6px;
	margin-bottom: 60px;
	overflow: hidden;
	border: 1px solid #ccc;
	display: inline-block;
	cursor: pointer;
}

.goodlist .goods img {
	width: 290px;
	height: 290px;
}

.goodlist .goods p {
	width: 100%;
	height: 128px;
	text-align: center;
	line-height: 128px;
	font-size: 15px;
	background: #d2ffea;
}

.goods .tools {
	position: absolute;
	right: 15px;
	top: 60%;
	width: 97px;
	height: 30px;
	display: none;
	-webkit-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
}

.goods .tools ul {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.goods .tools ul li {
	float: left;
	width: 26px;
	height: 26px;
	margin-right: 3px;
	border-radius: 3px;
	background: #F4F7FC;
	border: 1px solid #ccc;
}

.goods .tools ul li a {
	width: 26px;
	height: 26px;
	display: inline-block;
}

.goods .tools ul li:nth-child(1) {
	background: url(../images/icons/收藏.png) center center no-repeat;
	background-size: 70% 70%;
}

.goods .tools ul li:nth-child(2) {
	background: url(../images/icons/详情.png) center center no-repeat;
	background-size: 70% 70%;
}

.goods .tools ul li:nth-child(3) {
	background: url(../images/icons/cart.png) center center no-repeat;
	background-size: 70% 70%;
}

.goodlist .goods:hover .tools {
	display: block;
}

.pagenation {
	margin-top: -100px;
	margin-bottom: 20px;
	float: right;
	margin-right: 150px;
}

.pagenation a {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-left: 8px;
	text-align: center;
	line-height: 25px;
}

.pagenation a.cur {
	border: 1px solid #ccc;
	background: #d2ffea;
	border-radius: 3px;
}

.pagenation a:hover {

	/* border: 1px solid #ccc; */
	background: #d2ffea;
	border-radius: 3px;
}

/* container结束 */

/* footer开始 */
.footer {
	height: 160px;
	position: relative;
	border-top: 2px solid #42ad46;
}

.foot_link {
	text-align: center;
	margin-top: 30px;
}

.foot_link a, .foot_link span {
	color: #4e4e4e;
}

.foot_link a:hover {
	color: #ff8800
}

.foot_link span {
	padding: 0 10px
}

.footer p {
	text-align: center;
	margin-top: 10px;
}

/* footer结束 */
