* {

	/* box-sizing: border-box; */
}

body {
	overflow: auto;
}

/* header开始 */
header {
	position: relative;
	padding-left: 58px;
	padding-top: 34px;
	width: 1260px;
	height: 100px;
	margin: 0 auto;	/* border: 1px solid red; */
}

header .logo {
	position: absolute;
	display: inline-block;
	width: 258px;
	height: 59px;
}

.menu {
	position: absolute;
	left: 323px;
	display: inline-block;
	height: 59px;
	margin-left: 15px;
}

.menu li {
	float: left;
	position: relative;
	text-align: center;
	width: 80px;
	height: 59px;
	border-radius: 25px;
	overflow: hidden;
	margin-right: 28px;
	line-height: 59px;
	font-size: 14px;
}

.menu li a {
	margin-top: 59px;
	color: #666666;
	font-weight: bold;
}

.menu li div {
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #aeeeee;
	z-index: -1;
}

.topRight {
	position: relative;
	float: right;
	margin-right: 80px;
	margin-top: 18px;	/* margin-right: -60px; */
}

.topRight input[type ="text"] {
	position: absolute;
	width: 0px;
	height: 20px;
	left: -220px;	/* z-index: -1; */
	display: none;
}

.topRight  li {
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 23px;
	cursor: pointer;
}

.topRight  li:nth-child(1) {
	background: url(../images/icons/search.png);
	background-size: 100% 100%;
}

.topRight  li:nth-child(2) {
	background: url(../images/icons/cart.png);
	background-size: 100% 100%;
	margin-right: 0;
}

.topRight a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/* header结束 */

/* container开始 */
.container {
	background: url(../images/slider/1.jpg) no-repeat;
	background-size: 980px 480px;
	background-position: 0 100px;
	background-color: #dbf8e6;
	width: 100%;
	position: relative;
}

.banner {
	width: 100%;
	height: 80px;
	overflow: hidden;
}

.banner img {
	width: 100%;
	height: auto;
	z-index: -1;
}

.banner div {
	position: absolute;
	width: 122px;
	height: 48px;
	left: 50%;
	top: 8px;
	margin-left: -61px;
	border-bottom: 1px solid #fff;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 48px;
	z-index: 2;
}

.wrapBanner {
	position: absolute;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, .6);
}

/* 注册页面 */
.register_con {
	width: 1260px;
	height: 560px;
	margin: 3px auto 0;
}

.l_con {
	width: 300px;
}

.reg_logo {
	width: 200px;
	height: 76px;
	float: right;
	margin-right: 30px;
}

.reg_slogan {
	width: 300px;
	height: 30px;
	float: right;
	text-align: right;
	font-size: 24px;
	color: #69a81e;
	margin: 20px 30px 0 0;
}

.reg_banner {
	width: 251px;
	height: 329px;
	float: right;
	margin: 20px 10px 0 0;
	opacity: 0.5
}

.r_con {
	width: 400px;
	margin-top: 10px;
	margin-right: 38px;
}

.reg_title {
	width: 360px;
	height: 50px;
	float: left;
	margin-left: 30px;
	border-bottom: 1px solid #e0e0e0;
}

.reg_title h1 {
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 24px;
	color: #a8a8a8;
	font-weight: bold;
}

.reg_title a {
	float: right;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #5fb42a;
	padding-right: 20px;
	background: url(../images/icons02.png) 35px 3px no-repeat;
	margin-top: 15px
}

.reg_form {
	width: 360px;
	margin: 30px 0 0 30px;
	float: left;
	position: relative;
}

.reg_form li {
	height: 70px;
}

.reg_form li label {
	width: 70px;
	height: 40px;
	line-height: 40px;
	float: left;
	font-size: 14px;
	color: #a8a8a8
}

.reg_form li input {
	width: 288px;
	height: 38px;
	border: 1px solid #e0e0e0;
	float: left;
	outline: none;
	text-indent: 10px;
	background-color: #f8f8f8
}

.reg_form li.agreement input {
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 13px
}

.reg_form li.agreement label {
	width: 300px;
	float: left;
	margin-left: 10px;
}

.reg_form li.reg_sub input {
	width: 360px;
	height: 40px;
	background-color: #47aa34;
	font-size: 18px;
	color: #fff;
	font-family: 'Microsoft Yahei';
	cursor: pointer;
}

.reg_form li .error_tip {
	/* float: left; */
	height: 30px;
	line-height: 30px;
	margin-left: 70px;
	color: #e62e2e;
	display: none;
}

.reg_form li .error_tip2 {
	float: left;
	height: 20px;
	line-height: 20px;
	color: #e62e2e;
	display: none;
}

/* container结束 */

/* footer开始 */
.footer {
	height: 160px;
	position: relative;
	border-top: 2px solid #42ad46;
}

.foot_link {
	text-align: center;
	margin-top: 30px;
}

.foot_link a, .foot_link span {
	color: #4e4e4e;
}

.foot_link a:hover {
	color: #ff8800
}

.foot_link span {
	padding: 0 10px
}

.footer p {
	text-align: center;
	margin-top: 10px;
}

/* footer结束 */
