{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}愉购-商品搜索列表{% endblock title %}
{% block topfiles %}
    <link rel="stylesheet" href="{% static 'css/goodlist.css' %}">
{% endblock topfiles %}
{% block body %}
	<div class="container" id="container">
        <div class="banner">
            <div>商品列表</div>
            <img src="{% static 'images/sub-header/01.jpg' %}" alt="">
        </div>
        <div class="wrapBanner"></div>

        <div class="titleWraper">
            <div class="options">
                <h2>搜索结果如下><span class="curCato">{{ query }}</span></h2>
            </div>  
        </div>

        {% if not page %}
        <div>暂无当前搜索商品</div>
        {% else %}
        <div class="goodlist">
            {% for item in page %}
                <div class="goods">
                    <img src="/static/{{ item.object.image.url }}" alt="">
                    <p>{{ item.object.name }}</p>

                    <div class="tools">
                        <ul>
                            <li><a href="#"></a></li>
                            <li><a href="{% url 'goods:detail' item.object.id %}"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagenation">
                {% if page.has_previous %}
				<a href="/search?q={{ query }}&page={{ page.previous_page_number }}"><上一页</a>
                {% endif %}
                {% for pindex in paginator.page_range %}
                    {% if pindex == page.number %}
				        <a href="/search?q={{ query }}&page={{ pindex }}" class="active">{{ pindex }}</a>
                    {% else %}
				        <a href="/search?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
				{% endfor %}
                {% if spage.has_next %}
				<a href="/search?q={{ query }}&page={{ page.next_page_number }}">下一页></a>
                {% endif %}
			</div>
            {% endif %}
	</div>
{% endblock body %}
{% block bottomfiles %}
{% endblock bottomfiles %}