{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}愉购-商品详情页{% endblock title %}
{% block topfiles %}
	<link rel="stylesheet" href="{% static 'css/goodsdetail.css' %}">
{% endblock topfiles %}
{% block cheme %}{% endblock cheme %}
	<!-- main -->
	{% block body %}
	<div class="container" id="container">
		<div class="banner">
			<div>商品详情</div>
			<img src="{% static 'images/sub-header/01.jpg' %}" alt="">
		</div>
		<div class="wrapBanner"></div>
		
		<div class="mainInfo">
			<div class="otherWrap">
				<div class="leftPic">
					<div class="topImg">
						<img src="/static/{{ sku.image.url }}" alt="">
						<div id="innerHiden" class="innerHiden"></div>
					</div>
					<div class="bottomThum">
						<ul>
							<li><img src="/static/{{ sku.image.url }}" alt=""></li>
						</ul>
					</div>
				</div>
			
				<div class="rightInfo">
					<div class="price">
						<h1>{{ sku.name }}</h1>
						<h4><span>{{ sku.price }}¥</span>/{{ sku.unite }}</h4>
					</div>
					<div class="introduce">
						<p>{{ sku.desc }}</p>
						<div class="buttonlist">
							<div class="add_sub">
								<div id="sub" class="sub">-</div>
								<input type="text" class="num_show" value="1">
								<div id="add" class="add">+</div>
							</div>
							<div class="operate_btn">
								{% csrf_token %}
								<button sku_id="{{ sku.id }}" class="addCart" id="addCart">添加到购物车</button>
								<button sku_id="{{ sku.id }}" class="heart" id="heart">
									<span>❤</span>
								</button>
							</div>
							<div class="total">总价：<span>3.00元</span></div>
						</div>
					</div>
					<div class="smallInfo">
						<p>种类: <span>{{ sku.type.name }}/{{ sku.name }}</span></p>
						<p>销量: <span>{{sku.sales}}</span></p>
						<p>库存: <span>{{sku.stock}}</span></p>
						<p>ID: <span>A{{ sku.id }}</span></p>
					</div>
				</div>
			</div>

			<div class="bottomDetail">
				<div class="lefttable">
					<div class="othermsg" id="othermsg">
						<dl>
							<dt>Description</dt>
							<dd>> 生菜中含有干扰素诱生剂，可以刺激人体正常细胞产生干扰素，抵抗病毒，提高人体的免疫力。</dd>
							<dd>> 生菜中含有一种叫原儿茶酸的物质，它对癌细胞有明显的抑制作用，尤其在抵制胃癌、肝癌、大肠癌等消化系统癌症方面，效果显著</dd>
							<dd>> 生菜中的维生素E、胡萝卜素等，能保护眼睛，维持正常的视力，缓解眼睛干涩与疲劳。</dd>
							<dd>> 生菜中含有丰富的维生素C，具有一点的美白的功效</dd>
							<dd>> 生菜中的膳食纤维等营养物质含量很高，常食有消除多余脂肪的作用，所以生菜又有减肥生菜的美誉</dd>
						</dl>
					</div>
					<div class="commmsg" id="commmsg">
						<p class="info">2 reviews for Salad Organic Shop</p>
						<div class="perspon">
							<ul>
								<li>
									<img src="{% static 'images/comment/01.png' %}" alt="">
									<div class="perInfo">
										<h3 class="pername">Mark Hunt</h3>
										<h3 class="commtime">15 March 2017</h3>
										<p>This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.This is a test …</p>
									</div>
								</li>
								<li>
									<img src="{% static 'images/comment/02.png' %}" alt="">
									<div class="perInfo">
										<h3 class="pername">Lori Peters</h3>
										<h3 class="commtime">16 March 2017</h3>
										<p>This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.This is a test …</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="rightselect">
					<p id="extraMsg">附加信息<span></span></p>
					<p id="comms">评论<span></span></p>
				</div>
			</div>
		</div>


		<div class="titlePro1">
			<h1>相关产品</h1>
		</div>

		<div class="goodlist">
			{% for good in goods %}
			<div class="goods">
				<img src="/static/{{ good.image.url }}" alt="">
				<p>{{ good.name }}</p>
				<div class="tools">
					<ul>
						<li><a href="#"></a></li>
						<li><a href="{% url 'goods:detail' good.id %}"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
			</div>
			{% endfor %}

			</div>
		</div>
	</div>
		{% endblock body %}

	<!-- main结束 -->
{% block bottomfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/gooddetail.js' %}"></script>

	<script type="text/javascript">
        update_goods_amount()
// 计算商品的总价格
function update_goods_amount() {
	// 获取商品的单价和数量
	price = $('.price').children('h4').find('span').text();
	count = $('.num_show').val()

	price = parseFloat(price)
	count = parseInt(count)
	amount = price * count
	// 设置商品的总价
	$('.total').children('span').text(amount.toFixed(2) + '元')
}

// 增加商品的数量
$('#add').click(function() {
	// 获取商品原有的数目
	count = $('.num_show').val()
	// 加1
	count = parseInt(count) + 1
	// 重新设置商品的数目
	$('.num_show').val(count)
	// 更新商品的总价
	update_goods_amount()
})

// 减少商品的数量
$('#sub').click(function() {
	// 获取商品原有的数目
	count = $('.num_show').val()
	// 减1
	count = parseInt(count) - 1
	if (count <= 0) {
		count = 1
	}
	// 重新设置商品的数目
	$('.num_show').val(count)
	// 更新商品的总价
	update_goods_amount()
})

// 手动输入商品的数量
$('.num_show').blur(function() {
	// 获取用户输入的数目
	count = $(this).val()
	// 校验count是否合法
	if (isNaN(count) || count.trim().length == 0 || parseInt(count) <= 0) {
		count = 1
	}
	// 重新设置商品的数目
	$(this).val(parseInt(count))
	// 更新商品的总价
	update_goods_amount()
})

$('#addCart').click(function() {
	// 获取商品id和商品数量
	sku_id = $(this).attr('sku_id') // attr prop
	count = $('.num_show').val()
	csrf = $('input[name="csrfmiddlewaretoken"]').val()
	params = {
		'sku_id': sku_id,
		'count': count,
		'csrfmiddlewaretoken': csrf
	}
	// 发起ajax post请求，访问/cart/add, 传递参数:sku_id count
	$.post('/cart/add', params, function(data) {
		if (data.res == 5) {
			// 添加成功
			//todo:添加购物动画特效
		} else {
			// 添加失败
			alert(data.errmsg)
		}
	})
})

//添加收藏夹
$('#heart').click(function() {
	// 获取商品id和商品数量
	sku_id = $(this).attr('sku_id');
	csrf = $('input[name="csrfmiddlewaretoken"]').val()
	params = {
		'sku_id': sku_id,
		'csrfmiddlewaretoken': csrf
	}
	// 发起ajax post请求，访问/cart/addheart, 传递参数:sku_id
	$.post('/cart/addheart', params, function(data) {
		if (data.res == 5) {
			// 添加成功
			//todo:添加动画特效
		} else {
			// 添加失败
			alert(data.errmsg)
		}
	})
})
	</script>
{% endblock bottomfiles %}