{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}愉购-购物车{% endblock title %}
{% block topfiles %}
	<link rel="stylesheet" href="{% static 'css/myheart.css' %}">
{% endblock topfiles %}
	{% block body %}
	<!-- main -->
	<div class="container" id="container">
		<div class="banner">
			<div>心愿单</div>
			<img src="{% static 'images/sub-header/014.jpg' %}" alt="">
		</div>
		<div class="wrapBanner"></div>
		
		<div class="wrappper">
			{% if not skus %}
			<p>暂无收藏</p>
			{% endif %}
			<ul class="title">
				<li>商品</li>
				<li>价格</li>
				<li>库存状态</li>
			</ul>
			{% csrf_token %}
			{% for sku in skus %}
			<ul class="goodslist">
				<li>
					<input type="checkbox" name="sku_ids" value="{{ sku.id }}">
					<img src="/static/{{ sku.image.url }}" alt="">
					<span>{{ sku.name }}</span>
				</li>
				<li>{{ sku.price }}¥/{{ sku.unite }}</li>
				<li>{% if sku.stock > 20 %}库存充足{% else %}库存紧张{% endif %}
					<button sku_id="{{ sku.id }}" class="addToCart">加入购物车</button><span id="remoe" class="remove"></span>
				</li>
			</ul>
			{% endfor %}
		</div>
	</div>

	<!-- main结束 -->
	{% endblock body %}

	<!-- main结束 -->
{% block bottomfiles %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/myheart.js' %}"></script>
	<script>
		$('.addToCart').click(function() {
			// 获取商品id和商品数量
			sku_id = $(this).attr('sku_id') // attr prop
			count = 1;
			csrf = $('input[name="csrfmiddlewaretoken"]').val()
			params = {
				'sku_id': sku_id,
				'count': count,
				'csrfmiddlewaretoken': csrf
			}
			// 发起ajax post请求，访问/cart/add, 传递参数:sku_id count
			$.post('/cart/add', params, function(data) {
				if (data.res == 5) {
					// 添加成功
					//todo:添加购物动画特效
				} else {
					// 添加失败
					alert(data.errmsg)
				}
			})
		})

		//删除收藏夹中的内容
		$('.remove').click(function(){
			sku_id = $('.addToCart').attr('sku_id');
			csrf = $('input[name="csrfmiddlewaretoken"]').val()
			params = {'sku_id':sku_id, 'csrfmiddlewaretoken':csrf}

			sku_ul = $(this).parents('ul')

			$.post('/cart/heartdelete', params, function (data) {
				if (data.res == 3){
					// 删除成功，异常页面上商品所在的ul元素
					sku_ul.remove()
					// 获取sku_ul中商品的选中状态
					is_checked = sku_ul.find(':checkbox').prop('checked')
					if (is_checked){
					// 更新页面信息
					update_page_info()
					}
				}
				else{
					alert(data.errmsg)
				}
			})
		});
	</script>
{% endblock bottomfiles %}