body {
	background: url(../images/6.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	overflow: hidden;
}

/*--main--*/
.sub-main-w3 {
	width: 450px;
	margin: 110px auto;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
	padding: 50px;
}

.sub-main-w3 h2 {
	color: #000;
	font-weight: bolder;
	font-size: 1.8em;
	letter-spacing: 1px;
	margin-bottom: 1em;
	text-align: center;
	font-weight: 300;
}

.sub-main-w3 a.register {
	float: right;
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.sub-main-w3 a.register:hover {
	color: #01FF00FF;
	font-size: 20px;
}

.sub-main-w3 a.register span {
	display: inline-block;
	width: 10px;
	height: 20px;
}

.pom-agile {
	padding: 11px 15px;
	background: #fff;
	margin-bottom: 16px;
	border-radius: 26px;
}

.sub-main-w3 label {
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 8px;
	display: inline-block;
}

.pom-agile input[type="text"], .pom-agile input[type="password"] {
	outline: none;
	font-size: .9em;
	border: none;
	background: transparent;
	width: 93%;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
}

.right-w3l input[type="submit"] {
	color: #fff;
	background: #EB1323;
	border: none;
	padding: 13px 0;
	margin-top: 30px;
	outline: none;
	width: 100%;
	border-radius: 26px;
	text-transform: uppercase;
	font-size: .9em;
	cursor: pointer;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

.right-w3l input[type="submit"]:hover {
	background: #0F2;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

span.fa {
	float: left;
	color: #000;
	line-height: 1.5;
	margin-right: 10px;
}

.sub-agile {
	float: left;
}

.sub-agile input[type="checkbox"] {
	display: none;
}

.sub-agile input[type="checkbox"]+label {
	position: relative;
	padding-left: 25px;
	display: inline-block;
	font-size: .9em;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.sub-agile input[type="checkbox"]+label span:first-child {
	width: 13px;
	height: 13px;
	display: inline-block;
	border: 1px solid #fff;
	position: absolute;
	top: 1px;
	left: 2px;
}

.sub-agile input[type="checkbox"]:checked+label span:first-child:before {
	content: "";
	background: url(../images/tick.png)no-repeat;
	position: absolute;
	left: 2px;
	top: 1px;
	font-size: 10px;
	width: 10px;
	height: 10px;
}

.sub-w3l a {
	float: right;
	font-size: .9em;
	color: #000;
	font-weight: bold;
	letter-spacing: 1px;
}

/*--placeholder-color--*/
::-webkit-input-placeholder {
	color: #fff;
}

:-moz-placeholder {

	/* Firefox 18- */
	color: #fff;
}

::-moz-placeholder {

	/* Firefox 19+ */
	color: #fff;
}

:-ms-input-placeholder {
	color: #fff;
}

/*--//placeholder-color--*/

/*--//main--*/

/*--footer--*/
.footer p {
	font-size: .9em;
	color: #fff;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 40px;
}

.error_msg {
	margin: 30px auto;
	width: 300px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	color: #000;
	font-size: 20px;
}
